# Supabase Configuration
# Replace these values with your actual Supabase Project URL and Anon Key from the Supabase API Dashboard.
NEXT_PUBLIC_SUPABASE_URL=https://encywloracjeuthiglnl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVuY3l3bG9yYWNqZXV0aGlnbG5sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwMDIxMTAsImV4cCI6MjA5OTU3ODExMH0.0itvK4BKSbCJCwZXaooNZJsMLETHtbyUg0AQFUyFoQM
